<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
    <div class="navbar-item">
      <a class="nav-item" href="<%= root_path %>">Plum Street Group</a>
    </div>
    </div>
  </div>
</nav>
<div class="container">
  <invoice-pay></invoice-pay>
</div>