<section class="hero is-primary is-bold is-large">
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item" href="#">PlumSt</a>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <a class="nav-item is-active" href="#">Home</a>
          <a class="nav-item" href="#services">Services</a>
          <a class="nav-item" href="#about">About</a>
          <a class="nav-item" href="#contact">Contact</a>
        </div>
      </div>
    </header>
  </div>
  <div class="hero-body">
    <div class="container">

    <h1 class="title">Plum Street Group</h1>
      <h2 class="subtitle">Custom Web Solutions</h2>
    </div>
  </div>
</section>
<section class="hero is-bold is-large" id="services">
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item" href="#">PlumSt</a>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <a class="nav-item" href="#">Home</a>
          <a class="nav-item is-active" href="#services">Services</a>
          <a class="nav-item" href="#about">About</a>
          <a class="nav-item" href="#contact">Contact</a>
        </div>
      </div>
    </header>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile"></div>
        <div class="tile is-parent is-10">
          <div class="tile is-child notification">
            <p class="title has-text-dark">
              Plum Street Group Creates Custom Solutions
            </p>
            <p class="subtitle">
              Using the latest open-source platforms
            </p>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-4">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title">
                Back End Systems
              </div>
              <div class="card-header-icon">
                <span class="icon">
                  <i class="fa fa-database"></i>
                </span>
              </div>
            </div>
            <div class="card-content">
              We love Ruby on Rails.  It's free to use, completely customizable and can be hosted for free in most cases.
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title">
                Front End Frameworks
              </div>
              <div class="card-header-icon">
                <span class="icon">
                  <i class="fa fa-chrome"></i>
                </span>
              </div>
            </div>
            <div class="card-content">
              Front-end frameworks cut down on development time, and give you a site that looks beautiful and usable almost
              out of the box.  We love Vue, Bootstrap, Bulma, jQuery and Vuetify.  We also offer services on several other
              platforms.
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title">
                E-Commerce
              </div>
              <div class="card-header-icon">
                <span class="icon">
                  <i class="fa fa-money"></i>
                </span>
              </div>
            </div>
            <div class="card-content">
              The end goal for all of our engagements is to help our clients make money.  Convert your visitors into paying
               customers.  Integrating Rails with Stripe or PayPal is simple and will keep the revenue coming in.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero is-primary is-bold is-large" id="about">
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item" href="#">PlumSt</a>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <a class="nav-item" href="#">Home</a>
          <a class="nav-item" href="#services">Services</a>
          <a class="nav-item is-active" href="#about">About</a>
          <a class="nav-item" href="#contact">Contact</a>
        </div>
      </div>
    </header>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-12">
          <h2 class="title">About Us</h2>
        </div>
      </div>
      <div class="columns">
        <div class="column is-4">
          <figure class="image is-square">
            <%= image_tag 'headshot.jpg' %>
          </figure>
        </div>
        <div class="column is-1"></div>
        <div class="column is-6 margin-top">
          <p>
            Plum Street Group is operated by Frank Vinci in Media, PA.  Frank holds a MS in Information Systems from
            Widener University.  He has been working in consulting for the last 10 years, at Accenture Technology
            Solutions and QuintilesIMS.  He has a passion for building web solutions for startup companies and is
            also interested in making those skills available to small businesses in the Philadelphia and Delaware
            County areas.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-bold is-large" id="contact">
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item" href="#">PlumSt</a>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <a class="nav-item" href="#">Home</a>
          <a class="nav-item" href="#services">Services</a>
          <a class="nav-item" href="#about">About</a>
          <a class="nav-item is-active" href="#contact">Contact</a>
        </div>
      </div>
    </header>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-12">
          <h2 class="title has-text-dark">Contact Us</h2>
        </div>
      </div>
      <div class="columns">
        <div class="column is-4">
          <p>Plum Street Group is located in Media, PA.  Please use the form to the right to get in touch.  We are available
          for on-site meetings and presentations at your location.  Someone will respond to your note within 1 business day.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>Plum Street Group</p>
      <p>Media, PA</p>
      <p>
        <a class="icon" href="https://github.com/fv42wid">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>

